<div id="container">

  <div class="item mb-5" id="text">
    <h2 class="text-4xl my-4">We're doing our best. <br><span class=" text-blue-500">Do the same</span></h2>
    <p class="my-5">We're doing our best to protect the marine life. The ocean is a very complex and delicate ecosystem.
      We're proud to make our contribution to save the marine life, everyday.</p>
    <button pButton pRipple label="Join Us" type="button" class="mr-3 p-button-raised" (click)="join()"></button>
  </div>
  <div class="item" id="image">
    <img src="../../../../assets/turtle.jpg" alt="turtle">
  </div>
</div>
