@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';


#container{
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  background-color: var(--surface-0);
  border: 1px solid var(--blue-500);
  border-radius: 10px;

  overflow: hidden;
  .item{
   width: 450px;
   box-sizing: border-box;
  }
  #text{
    padding: 20px;
  }
  #image{
    border-radius: 10px;
    overflow: hidden;
    img{
      width: 100%;
      overflow: hidden;
    }
  }
}
