<div id="container">
  <div id="bannerImg">
  </div>
  <div id="flexContainer" class="p-5">
    <div id="profileData">

      <div class="card">
        <div class="flex justify-content-center">
          <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="130" height="130" imageClass="border-circle"></p-image>
      </div>
        <h2 class="text-4xl font-semibold">Pippo Baudo</h2>
        <h4 class="text-base font-light text-500">@pippobaudo1</h4>
      </div>
    </div>

    <div id="settings">
      <div>
        <i class="pi pi-bell text-2xl text-blue-700 hover:text-cyan-500 mx-2" pBadge value="2"></i>
        <i class="pi pi-cog text-2xl text-blue-700 hover:text-cyan-500 mx-2"></i>
    </div>
    </div>
  </div>
</div>
