
<div id="container">
  <div id="bannerImg" class="flex justify-content-center">

  </div>
  <div id="flexContainer" class="p-5">
    <div id="profileData">

      <div class="card">
        <div class="flex justify-content-center">
          <p-image src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg" alt="Image" width="130" height="130" imageClass="border-circle"></p-image>
      </div>
      <div>
        <h2 class="text-4xl font-semibold inline">{{ user?.name | titlecase}} </h2>
        <h2 class="text-4xl font-semibold inline">{{ user?.surname | titlecase }}</h2>
        <h4 class="text-base font-light text-500">@{{ user?.username }}</h4>
      </div>
      </div>
    </div>

    <div id="settings" class="flex">
      <div class="flex align-items-center">
        <p-button label="Add dive" styleClass="p-button-outlined" [routerLink]="['add']"></p-button>
        <!-- COOMING SOON -->
        <!-- <i class="pi pi-bell text-2xl text-blue-700 hover:text-cyan-500 mx-2" pBadge value="2"></i>-->
        <i class="pi pi-cog text-3xl text-blue-700 hover:text-cyan-500 mx-3" [routerLink]="['settings']"></i>
    </div>
    </div>
  </div>
</div>
