<app-menubar ></app-menubar>

<div id="form">

  <form [formGroup]="signup" (ngSubmit)="onSubmit()">

    <div class="surface-card p-4 shadow-2 border-round w-full">
      <div class="text-center mb-5">
          <img src="../../../../assets/logo.png" alt="Image" height="70" class="mb-3" (click)="backToHome()">
          <div class="text-900 text-3xl font-medium mb-3">Welcome to WE DIVE</div>
          <span class="text-600 font-medium line-height-3">Already have an account?</span>
          <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['../']">Login!</a>
      </div>

      <div>
          <label for="name" class="block text-900 font-medium mb-2">Name:</label>
          <input id="name" type="text" placeholder="Your name" pInputText class="w-full mb-3" required formControlName="name" minlength="3" maxlength="15">

          <label for="surname" class="block text-900 font-medium mb-2">Surname:</label>
          <input id="surname" type="text" placeholder="Your surname" pInputText class="w-full mb-3" required formControlName="surname" minlength="2" maxlength="25">

          <label for="username" class="block text-900 font-medium mb-2">Username</label>
          <input id="username" type="text" placeholder="Your username" pInputText class="w-full mb-3" required formControlName="username" minlength="3" maxlength="15">

          <label for="email" class="block text-900 font-medium mb-2">Email:</label>
          <input id="email" type="text" placeholder="mail@example.com" pInputText class="w-full mb-3" required formControlName="email">

          <div class="w-full mb-3">
            <label for="birthday" class="block text-900 font-medium mb-2">Birthday:</label>
            <p-calendar formControlName="birthday" dateFormat="dd.mm.yy" [showIcon]="true" [showButtonBar]="false" class="w-full mb-3"></p-calendar>
          </div>

          <label for="password" class="block text-900 font-medium mb-2">Password:</label>
          <input id="password" type="password" pInputText class="w-full mb-3" required formControlName="password" minlength="6">


          <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" [disabled]="!signup.valid"></button>
          <p class="my-3 text-red-500 text-xl">{{ error }}</p>
      </div>
    </div>

  </form>
</div>



