#form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

:host::ng-deep{
   p-calendar{
    display: block;
    .p-calendar{
      display: flex;
    }
  }
}
