#form{
  display: flex;
  justify-content: center;
  margin-top: 180px;
  img{
    &:hover{
      cursor: pointer;
    }
  }
}

:host::ng-deep{
   p-calendar{
    display: block;
    .p-calendar{
      display: flex;
    }
  }
}
