<div id="container" class="md:p-7">

  <h2 class="mb-5 text-center">FAQ</h2>

  <p-accordion [activeIndex]="0">
    <p-accordionTab header="How does it works?">
        <p>
            It's quite easy. Once you've created your account <a [routerLink]="['/join']">here</a> you can begin to log all your dives. You can also log your pasts dives if you want, so you can store in our database all your dives since your first one!
        </p>
    </p-accordionTab>
    <p-accordionTab header="Is We Dive free?">
        <p>
            We Dive is free, and will be free forever.
        </p>
    </p-accordionTab>

    <!-- othew faq will come with other features -->

    <p-accordionTab header="Are my dives going to be recognized from other scuba associations?">
        <p>
           Yes, of course. We have partnerships with all the major scuba diving associations all around the world. Every dive that you log with We Dive will be recognized from them, no metter wich one: PADI, SSI ecc.
        </p>
    </p-accordionTab>
  </p-accordion>
</div>

