<div id="container">

  <div id="flexContainer">

    <div id="header">

        <h2>Dive n. X</h2>
    </div>

    <div id="body">

      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Date</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Dive type</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Depth</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Time</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Water Type</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Weather</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Air Temperature</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Surface Temperature</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Deep Temperature</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Visibility</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Waves</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Current</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Suit</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Ballast</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Tank type</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Tank size</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Initial Pressure</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Final Pressure</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Used Air</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Gas Mix</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Judgement</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item flex justify-content-between">
        <p class="text-sm text-500">Buddy</p>
        <p class="text-sm">3/5/2022</p>
      </div>
      <div class="item">
        <p class="text-sm text-500 mb-4">Notes</p>
        <p class="text-sm">3/5/2022</p>
      </div>

    </div>

    <div id="footer"></div>
  </div>

</div>
