<div id="container">
  <div id="bannerImg">
  </div>
  <div id="flexContainer">
    <div id="profileData">

      <div class="card">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="xlarge" shape="circle"></p-avatar>
        <h2>Pippo Baudo</h2>
        <h4>@pippobaudo1</h4>
      </div>

      <div class="card">
        <i class="pi pi-bell text-4xl text-blue-500" pBadge value="2"></i>
        <i class="pi pi-cog text-4xl text-blue-500"></i>
      </div>


    </div>
    <div id="settings"></div>
  </div>
</div>
