@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';


#heroSection{
  .tagline{
    letter-spacing: 2px;
  }
  margin-top: 105px;
  .heroImage{
    width: 700px;
  }
}
