@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';


#heroSection{
  background-image: url('../../../../assets/background.jpg');
  background-position:center;
  background-size: cover;

  @include flex(column, center, flex-start);
  padding: 6rem;
  .box{
    max-width: 500px
  }
  h1{
    @include h1;
  }
}
