<div id="heroSection">
  <!-- ********COOMING SOON******* -->
  <!-- <div class="card">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div> -->

<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-8xl font-bold mb-1 tagline">WE DIVE</span>
          <div class="text-6xl text-primary font-bold mb-3">a new way to make your dives last forever</div>
          <p class="mt-0 mb-4 text-700 line-height-3">We Dive is a new amazing tool for log your dive, make them get certified and consult them in every moment, wherever you are. </p>

          <button pButton pRipple label="Join Us" type="button" class="mr-3 p-button-raised" (click)="join()"></button>
          <button pButton pRipple label="Learn More" type="button" class="p-button-outlined" (click)="scrollToElement('features')"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="../../../../assets/scuba.jpg" alt="Image" class="md:ml-auto block heroImage" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

</div>
