<div id="container">

  <div id="text" class="my-5">
    <h3 class="mb-3 text-center font-normal text-3xl text-blue-500">Who we are</h3>
    <h2 class="mb-3 text-center text-5xl">Meet the team behind We Dive</h2>
    <p  class="mb-3 text-center">Want to be part of our team? Is your lucky day! Click here in order to apply!</p>
  </div>



  <div id="items" class="my-5 flex flex-wrap justify-content-center">

    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>
    <div class="card flex flex-column justify-content-end">
      <div class="glass">
        <h4 class="text-2xl font-light mb-2">Name Surname</h4>
        <p class="text-xl font-light mb-2">role</p>
      </div>
    </div>

  </div>


</div>
