form{
  background-color: var(--surface-ground);
  max-width: 600px;
  margin: 50px auto;
  .card{
    margin: 35px auto;
  }
}

:host::ng-deep{
  p-dropdown, p-calendar, p-inputnumber{
    display: block;
    .p-dropdown, .p-calendar, .p-inputnumber{
      display: flex;
    }
    .p-dropdown-label, input{
      width: 100%;
    }
  }
}
