<h1 class="text-center text-5xl mb-5">Add a <span class="text-blue-700">Dive</span></h1>

<p class="text-center text-xl my-5 px-7">Fill all the inputs down here and save your dives.
  Once you have created the record it will be saved in our database.
  You can access them whenever you want.</p>

<form [formGroup]="addDive" class="border-round-xl border-2 border-primary-900 p-4" >


<div class="card">
  <span class="p-float-label">
    <input type="text" pInputText formControlName="name" class="w-full"/>
    <label htmlFor="username">Title:</label>
  </span>
</div>


<div class="card">
    <label for="date" class="text-500">Date:</label>
      <p-calendar formControlName="date" dateFormat="dd.mm.yy" [showIcon]="true" [showButtonBar]="true" class="w-full"></p-calendar>
</div>


<div class="card w-full">
    <span class="p-float-label w-full">
      <p-dropdown formControlName="type" [options]="diveType" class="w-full"></p-dropdown>
      <label for="float-label" class="w-full">Select a type of dive:</label>
    </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber formControlName="maxDepth" inputId="locale-german" mode="decimal" suffix=" m" locale="de-DE" [minFractionDigits]="2"  class="w-full"></p-inputNumber>
      <label htmlFor="number-input">Maximum depth reached:</label>
    </span>
    </div>

    <div class="card">
      <span class="p-float-label">
          <p-inputNumber inputId="minmax" formControlName="diveTime" suffix=" min" [min]="0" [max]="360"></p-inputNumber>
          <label htmlFor="number-input">Time underwater:</label>
      </span>
    </div>

    <div class="card">
      <span class="p-float-label">
        <p-dropdown formControlName="waterType" [options]="waterType"></p-dropdown>
        <label for="float-label">Select a type of water:</label>
      </span>
  </div>

  <p for="waterTaste" class="text-center">How was the water?</p>
  <div class="card flex justify-content-center">
        <p-selectButton [options]="waterTasteOptions" formControlName="waterTaste"></p-selectButton>
</div>

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="weather" [options]="weather"></p-dropdown>
    <label for="float-label">How was the weather?</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="locale-german" formControlName="airTemperature" suffix="°C" mode="decimal" [min]="-100" [max]="60" [minFractionDigits]="2"></p-inputNumber>
      <label htmlFor="number-input">Air Temperature:</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="locale-german" formControlName="surfaceTemperature" suffix="°C" mode="decimal" [min]="0" [max]="60" [minFractionDigits]="2"></p-inputNumber>
      <label htmlFor="number-input">Surface Temperature:</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="locale-german" formControlName="deepTemperature" suffix="°C" mode="decimal" [min]="0" [max]="60" [minFractionDigits]="2"></p-inputNumber>
      <label htmlFor="number-input">Deep Temperature:</label>
  </span>
</div>

<div class="card">
  <p for="waterTaste" class="text-center mb-4">How was the visibility?</p>
  <p-selectButton [options]="visibility" formControlName="visibility" [multiple]="false"></p-selectButton>
</div>

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="waves" [options]="waves"></p-dropdown>
    <label for="float-label">What about waves?</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="current" [options]="current"></p-dropdown>
    <label for="float-label">What about current?</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="suit" [options]="suit"></p-dropdown>
    <label for="float-label">What kind of suit did you had?</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="integeronly" formControlName="ballast" suffix=" kg" [min]="0" [max]="20"></p-inputNumber>
      <label htmlFor="number-input">Ballast wight:</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="tank" [options]="tank"></p-dropdown>
    <label for="float-label">What kind of tank did you had?</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="integeronly" formControlName="tankSize" suffix=" l" [min]="0" [max]="20"></p-inputNumber>
      <label htmlFor="number-input">Tank Size:</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="gasMix" [options]="gasMix"></p-dropdown>
    <label for="float-label">What kind of gasMix did you had?</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="integeronly" formControlName="initialPressure" suffix=" bar" [min]="0" [max]="300"></p-inputNumber>
      <label htmlFor="number-input">Initial Pressure:</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="integeronly" formControlName="finalPressure" suffix=" bar" [min]="0" [max]="300"></p-inputNumber>
      <label htmlFor="number-input">Final Pressure:</label>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
      <p-inputNumber inputId="integeronly" formControlName="tankSize" suffix=" l" [min]="0" [max]="20"></p-inputNumber>
      <label htmlFor="number-input">Tank Size:</label>
  </span>
</div>

<!-- ********** KNOB DON'T WORK ****** -->
<!-- <p-knob formControlName="initialPressure"></p-knob>
<div class="card flex justify-content-center">
</div>

<div class="card flex justify-content-center">
  <p-knob formControlName="finalPressure" [min]="50" [max]="300" [step]="10" [strokeWidth]="5" [size]="200"></p-knob>
</div>

<div class="card flex justify-content-center">
  <p-knob formControlName="usedAir" [min]="50" [max]="300" [step]="10" [strokeWidth]="5" [size]="200"></p-knob>
</div> -->

<div class="card">
  <span class="p-float-label">
    <p-dropdown formControlName="judgement" [options]="judgement"></p-dropdown>
    <label for="float-label">How is your judgement?</label>
  </span>
</div>

<div class="card">
  <span for="float-label" class="text-500">Notes: </span>
  <span class="p-float-label">
      <textarea rows="5" cols="30" pInputTextarea formControlName="notes"></textarea>
  </span>
</div>

<div class="card">
  <span class="p-float-label">
  <input type="text" pInputText formControlName="buddy" class="w-full"/>
  <label htmlFor="username">Your buddy</label>
</span>
</div>

<p-button label="Add Dive Session" styleClass="p-button-outlined" (onClick)="addDiveSession()" [disabled]="addDive.invalid"></p-button>

</form>
